.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1.25rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 40rem) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 40.0625rem) and (max-width: 64rem) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64.0625rem) and (max-width: 90rem) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 90.0625rem) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.animation-loading-App {
  animation-duration: 3s;
  animation-name: animate-fade;
  animation-delay: .5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}